@use "../base/variables" as v;

.footer{
    padding:2rem 0;
    margin:0 2rem;
}

.footer__container{
    display: grid;
    grid-template-columns: 1fr;
}

.hiddenLabel{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.subscribe__container,
.categories__container,
.socials__container{
    margin:1rem 0;
}

.subscribe__form{
    display: inline-flex;
    align-items: center;
    margin: 1rem 0;

}

.subscribe__input{
    height: 2rem;
    width: 250px;
    background-color: v.$medium;
    border:none;
    padding: 0 .5rem;;
}

.subscribe__input::placeholder{
    color: v.$light;
}

.subscribe__input:focus {
    outline: none;
    color: v.$light;
}


.subscribe__btn{
    background-color: transparent;
    border: none;

}

.subscribe__arrow{
    width: 2rem;
    height: 2rem;
    fill: v.$light;
}

body.lightMode .subscribe__arrow{
    fill: v.$dark;
}

.subscribe__title,
.categories__title,
.socials__title{
    margin:.5rem 0;
}

.categories__content{
    display: flex;
    gap: 4rem;
    
}

.categories__column{
    margin-bottom: 1rem 0;
}

.categories__item,
.socials__item{
    list-style:none;
    padding: .2rem 0;
}

.categories__link{
    text-decoration: none;
    color: v.$light;
}

body.lightMode .categories__link{
    color: v.$dark;
}

.categories__link:hover{
    text-decoration: underline;
}

.socials__list{
    display: flex;
    gap: 1rem;
}

.social__icon{
    fill: v.$light;
}

body.lightMode .social__icon{
    fill: v.$dark;
}


.separator{
    opacity:.3;
}

.footer__logo{
    margin-top: 2rem;
}



@media (min-width: 768px){
    .footer{
        margin:0 4rem;
    }
}

@media (min-width:1440px) {
    .footer{
        margin:0 auto;
        max-width: 70rem;
    }
    .footer__container{
        grid-template-columns: 2fr 2fr 1fr;
    }
}

@media (min-width:1024px) {
    .footer__container{
        grid-template-columns: 2fr 2fr 1fr;
    }
}

@media (min-width:2560px) {
    .footer{
        margin:0 auto;
        max-width: 95rem;
    }
}
