@use "../base/variables" as v;


.main {
    padding: 5.6rem 0 0;
    margin:0 2rem;

    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 1rem;
    }

    &__title {
        font-size: 7rem;
        text-align: center;
        font-family: var(--fontTitle);
    }

    .post__title{
        font-size: v.$titleMobile;
        margin-bottom: .5rem;
    }

    .post__subtitle{
        font-size: v.$subtitleMobile;
        opacity: .7;
    }

    .post__info{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin: 1.5rem 0 .7rem;
    }

    .post__container{
        display: flex;
        gap: 1rem;
    }

    .post__regular{
        opacity: .7;
    }

    .post__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .post__chip{
        display: flex;
        margin-left: auto;
    }
    .text__category{
        background-color: v.$light;
        color:v.$dark;
        padding: .4rem;
        border:none;
        border-radius: .5rem;
    }

    body.lightMode .text__category{
        background-color: v.$dark;
        color: v.$light;
    }

    .post__share{
        display: flex;
        margin-top:1rem;
        justify-content: flex-end;
    }

    .share__btn{
        background-color: transparent;
        border: none;
        cursor:pointer;
    }
    
    .share__icon{
        width: 30px;
        height: 30px;
        fill:v.$light;
    }
    body.lightMode .share__icon svg{
        fill:v.$dark;
    }


    .post__content{
        max-width: 800px;
        margin: 3rem auto;
    }

    .paragraph,
    .paragraph2{
        line-height: 1.5;
    }

    .paragraph__xxl{
        font-size: 2.5rem;
        line-height: 1.5;
        font-weight: bold
    }
    .separator{
        margin: 2rem 0;
        opacity: .3;
    }

    .latest__title{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    
    .cards__latest{
        margin-top: 2rem;
    }

}






@media (min-width: 768px){

    .main{
        margin:0 4rem;
    }
    .main__title{
        font-size: 12rem;
    }    
    .post__text .post__title{
        font-size: v.$titlePost;
    }
    .post__header .post__info{
        flex-direction: row;
    }
}

@media (min-width:1440px) {
    .main{
        margin:0 auto;
        max-width:70rem;
    }
}
    
@media (min-width:2560px) {
    .main{
        margin:0 auto;
        max-width: 95rem;
    }
}


