@use "../base/variables" as v;


.main{
    padding:5.6rem 2rem 0;
}
.main__container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-top:1rem;
}

.main__title{
    font-size: 7rem;
    text-align: center;
    font-family: var(--fontTitle);
}

@media (min-width: 768px){
    .main__title{
        font-size: 12rem;
    }    
}