@use "../base/variables" as v;

.cards__container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card__article{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid v.$light;
}

body.lightMode .card__article{
    border: 1px solid v.$dark;
}

.card__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 0;
}

.card__category{
    border: 1px solid v.$light;
    padding: .4rem;
    border-radius: .5rem;
    font-size: .9rem;
}

body.lightMode .card__category{
    border: 1px solid v.$dark;
}


.card__time{
    font-size: .9rem;
}

.card__img{
    width: 100%;
}

.card__text{
    padding: .7rem 0;
} 
.card__paragraph{
    line-height: 1.5;
    font-size: v.$paragraphMobile;
    margin: .5rem 0 1.4rem;
}

.card__link{
    display: inline-flex;
    align-items: center;
    color:v.$light;
}
body.lightMode .card__link{
    color:v.$dark;
}

.link__arrow{
    fill:v.$light;
    margin-left: .5rem;
    opacity: 0; 
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease; 
}

body.lightMode .link__arrow{
    fill:v.$dark;
}

.card__link:hover .link__arrow{
    opacity: 1; 
    transform: translateX(0);
}