@use "../base/variables" as v;

.pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.pagination__arrow{
    fill: v.$light;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
}

body.lightMode .pagination__arrow{
    fill: v.$dark;
}

.prev, .next{
    background-color: transparent;
    border:none;
}